﻿<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Attendance" ||
            ViewContext.RouteData.Values["Action"].ToString() == "UpdateAttendanceDate" ? "active" : "")">
            <a class="nav-link" asp-area="" asp-action="Attendance">
                <i class="material-icons">how_to_reg</i>
                <p>Attendance</p>
            </a>
        </li>
        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "NewPayroll" ||
            ViewContext.RouteData.Values["Action"].ToString() == "PayrollSummary" ||
            ViewContext.RouteData.Values["Action"].ToString() == "ReturnNewPayroll" ? "active" : "")">
            <a class="nav-link" asp-area="" asp-action="NewPayroll">
                <i class="material-icons">post_add</i>
                <p>New Payroll</p>
            </a>
        </li>
        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "PayrollHistory" ? "active" : "")">
            <a class="nav-link" asp-area="" asp-action="PayrollHistory">
                <i class="material-icons">description</i>
                <p>Payroll History</p>
            </a>
        </li>
        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Staff" ? "active" : "")">
            <a class="nav-link" asp-area="" asp-action="Staff">
                <i class="material-icons">group</i>
                <p>Staff Info</p>
            </a>
        </li>
        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Report" ? "active" : "")">
            <a class="nav-link" asp-area="" asp-action="Report">
                <i class="material-icons">toc</i>
                <p>Report</p>
            </a>
        </li>
        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Settings" ? "active" : "")">
            <a class="nav-link" asp-area="" asp-action="Settings">
                <i class="material-icons">settings</i>
                <p>Settings</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Staff" asp-action="Index">
                <i class="material-icons">cached</i>
                <p>Switch to Staff Page</p>
            </a>
        </li>
    </ul>
</div>