﻿@model PresetPayslipItemViewModel
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Add New Preset Payslip Item</h4>
            </div>
            <div class="card-body">
                <form asp-action="CreatePayslipItem" asp-controller="Admin">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control" data-style="btn btn-link" asp-for="Direction" asp-items="Model.DirectionList"></select>
                    </div>
                    <div class="form-group">
                        <label>EPF Applicable?</label>
                        <select class="form-control" data-style="btn btn-link" asp-for="EPF_Applicable" asp-items="Model.EPF_ApplicableList"></select>
                    </div>
                    <div class="form-group">
                        <label>SOCSO Applicable?</label>
                        <select class="form-control" data-style="btn btn-link" asp-for="SOCSO_Applicable" asp-items="Model.SOCSO_ApplicableList"></select>
                    </div>
                    <button type="submit" class="btn btn-danger">Submit</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>