﻿@model CreatePositionCommand
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Add New Position</h4>
            </div>
            <div class="card-body">
                <form asp-action="CreatePosition" asp-controller="Admin">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    
                    <button type="submit" class="btn btn-danger">Submit</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>