﻿@model PayslipViewModel
    <div class="container singlePayslip @("payslipId" + Model.Id)" id="@Model.StaffId">
        <div class="row">
            <div class="col-4">
                <h4>Payslip</h4>
                <p class="my-0"><strong>@Model.Date.ToString("MMMM yyyy")</strong></p>
                <p class="my-0">Issue Date: @Model.Date.ToString("MMMM dd yyyy")</p>
            </div>
            <div class="col-4">
                <h4>Company</h4>
                <p class="my-0"><strong>@Model.Company.Name</strong></p>
                <p class="my-0">@Model.Company.Address.StreetAddress</p>
                <p class="my-0">@Model.Company.Address.City</p>
                <p class="my-0">@Model.Company.Address.PostalCode</p>
                <p class="my-0">@Model.Company.Address.State.Name</p>
            </div>
            <div class="col-4">
                <h4>Employee</h4>
                <p class="my-0"><strong>@Model.Staff.Name</strong></p>
                <p class="my-0">@Model.Staff.Position.Name</p>
                <p class="my-0">@Model.Staff.ICNo</p>
                <p class="my-0">@Model.Staff.EPF_No</p>
            </div>
        </div>
        <hr />
        <div class="table-responsive">
            <table class="table table-bordered ml-1 no-datatable" style="width: 95%;">
                <tr></tr>
                <tr>
                    <td colspan="1">Basic Salary:</td>
                    <td colspan="4" class="text-right">@Model.BaseSalary.ToString("0.00")</td>
                </tr>
                <tr>
                    <td colspan="1">Variable Pay:</td>
                    <td colspan="4" class="text-right">@Model.VariablePay.ToString("0.00")</td>
                </tr>

                @if (Model.AddItems.Count > 0)
                {
                    <tr>
                        <td colspan="1"></td>
                        <td colspan="2"><strong>Description</strong></td>
                        <td colspan="2" class="text-right"><strong>Amount</strong></td>
                    </tr>

                    @foreach (var item in Model.AddItems)
                    {
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="2">@item.PresetPayslipItem.Name</td>
                            <td colspan="2" class="text-right">@item.Amount.ToString("0.00")</td>
                        </tr>
                    }
                }

                <tr>
                    <td colspan="1">Variable Deduction:</td>
                    <td colspan="4" class="text-right">@Model.VariableDeduction.ToString("0.00")</td>
                </tr>

                @if (Model.DeductItems.Count > 0)
                {
                    <tr>
                        <td colspan="1"></td>
                        <td colspan="2"><strong>Description</strong></td>
                        <td colspan="2" class="text-right"><strong>Amount</strong></td>
                    </tr>

                    @foreach (var item in Model.DeductItems)
                    {
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="2">@item.PresetPayslipItem.Name</td>
                            <td colspan="2" class="text-right">@item.Amount.ToString("0.00")</td>
                        </tr>
                    }
                }

                <tr>
                    <td colspan="1">Statutory Contribution:</td>
                    <td colspan="4" class="text-right">(@((Model.OutEPF_EmployeeAmount + Model.OutSOCSO_EmployeeAmount).ToString("0.00")))</td>
                </tr>

                <tr>
                    <td colspan="1"><strong>Net Salary:</strong></td>
                    <td colspan="4" class="text-right">@(Model.NetSalary.ToString("0.00"))</td>
                </tr>

                <tr>
                    <td colspan="5"></td>
                </tr>

                <tr>
                    <td colspan="5"><strong>Statutory Contribution</strong></td>
                </tr>

                <tr>
                    <td colspan="1"></td>
                    <td colspan="1"><strong>Employer</strong></td>
                    <td colspan="1"><strong>Employee</strong></td>
                    <td colspan="2" class="text-right"><strong>Subtotal</strong></td>
                </tr>

                <tr>
                    <td colspan="1">&nbsp;&nbsp;EPF:</td>
                    <td colspan="1">@Model.OutEPF_EmployerAmount.ToString("0.00")</td>
                    <td colspan="1">@Model.OutEPF_EmployeeAmount.ToString("0.00")</td>
                    <td colspan="2" class="text-right">@((Model.OutEPF_EmployerAmount + Model.OutEPF_EmployeeAmount).ToString("0.00"))</td>
                </tr>

                <tr>
                    <td colspan="1">&nbsp;&nbsp;SOCSO:</td>
                    <td colspan="1">@Model.OutSOCSO_EmployerAmount.ToString("0.00")</td>
                    <td colspan="1">@Model.OutSOCSO_EmployeeAmount.ToString("0.00")</td>
                    <td colspan="2" class="text-right">@((Model.OutSOCSO_EmployerAmount + Model.OutSOCSO_EmployeeAmount).ToString("0.00"))</td>
                </tr>

                <tr>
                    <td colspan="1"><strong>Total:</strong></td>
                    <td colspan="1">@(Model.OutSOCSO_EmployerAmount + Model.OutEPF_EmployerAmount)</td>
                    <td colspan="1">@(Model.OutSOCSO_EmployeeAmount + Model.OutEPF_EmployeeAmount)</td>
                    <td colspan="2" class="text-right">@((Model.OutSOCSO_EmployerAmount + Model.OutEPF_EmployerAmount + Model.OutSOCSO_EmployeeAmount + Model.OutEPF_EmployeeAmount).ToString("0.00"))</td>
                </tr>
            </table>

        </div>
    </div>