﻿@model List<CreateAttendanceCommand>
<hr />
<form method="post">
    <button id="markAttend" type="button" class="btn btn-success">Mark all to Attended</button>
    <button id="markAbsent" type="button" class="btn btn-primary">Mark all to Not Attended</button>

    @for (int i = 0; i < Model.Count; i++)
    {
        @Html.HiddenFor(m => m[i].Id)
        @Html.HiddenFor(m => m[i].StaffId)
        @Html.HiddenFor(m => m[i].Date)


        <div class="form-row">
            <div class="col-sm-6 col-md-3">
                <strong>@Model[i].Date.ToString("yyyy-MM-dd")</strong>
            </div>
            <div class="col-sm-6 col-md-3">
                <select asp-for="@Model[i].AttendedFlag" class="form-control" data-style="btn btn-link">
                    <option value="0">Not attended</option>
                    <option value="1">Attended</option>
                </select>
            </div>
        </div>
    }


    <button type="submit" class="btn btn-danger" asp-action="UpdateAttendance" asp-controller="Admin">Submit</button>
    <div class="clearfix"></div>
</form>
