﻿@model List<EchoPay.Data.PayslipItem> 
@for (int j = 0; j < Model.Count; j++)
{
    @Html.HiddenFor(m => m[j].PresetPayslipItemId)
    @Html.HiddenFor(m => m[j].Amount)
    <tr class="@(Model[j].PresetPayslipItem.Direction > 0 ? "table-success" : "table-danger")">
        <td>
            &nbsp;&nbsp; @(Model[j].PresetPayslipItem.Direction > 0 ? "+" : "-")
            <strong>
                @Model[j].PresetPayslipItem.Name
            </strong>
        </td>
        <td></td>
        <td class="td-number">@Model[j].Amount.ToString("0.00")</td>
    </tr>
}