﻿@model List<EPFRatesViewModel>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Update EPF Rates</h4>
                <p class="card-category">Update latest EPF rates</p>
            </div>
            <div class="card-body">
                <p class="card-category">Refer <a target="_blank" href="https://www.kwsp.gov.my/employer/contribution/all-about-your-responsibility">KWSP Website</a> for latest rates</p>
                <form asp-action="UpdateEPFRates" asp-controller="Admin">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="table-responsive">
                        <table class="table table-bordered ">
                            <tr>
                                <th class="th">EPF Status</th>
                                <th class="th">From salary</th>
                                <th class="th">Age From</th>
                                <th class="th">Employer Rate, e.g. "0.13" for 13%;<br />"5" for fixed amount of RM5</th>
                                <th class="th">Employee Rate, e.g. "0.07" for 7%</th>
                            </tr>

                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    @Html.HiddenFor(x => x[i].Id)
                                    @Html.HiddenFor(x => x[i].EPF_StatusId)
                                    <td>
                                        <div class="form-group">
                                            @Model[i].EPF_StatusString
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input asp-for="@Model[i].SalaryRangeFrom" class="form-control" required>
                                            <span asp-validation-for="@Model[i].SalaryRangeFrom" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input asp-for="@Model[i].AgeFrom" class="form-control" required>
                                            <span asp-validation-for="@Model[i].AgeFrom" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input asp-for="@Model[i].EmployerRate" class="form-control" required>
                                            <span asp-validation-for="@Model[i].EmployerRate" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input asp-for="@Model[i].EmployeeRate" class="form-control" required>
                                            <span asp-validation-for="@Model[i].EmployeeRate" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>

                    </div>



                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#updateEPF">
                        Update
                    </button>

                    <div class="modal fade" id="updateEPF">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Confirm update EPF rates?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Yes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </form>
            </div>
        </div>
    </div>
</div>