﻿@{
    ViewData["Title"] = "New Payroll";
    Layout = "_DashboardLayout";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">New Payroll</h4>
            <p class="card-category">@(DateTime.Today.ToString("MMMM") + " " + DateTime.Today.Year.ToString())</p>
        </div>

        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    <h4>Running payroll for @(DateTime.Today.ToString("MMMM") + " " + DateTime.Today.Year.ToString())</h4>
                </div>

                <div class="container my-3 pb-3">
                    <div class="row text-center">
                        <div class="col-6">Adjustments</div>
                        <div class="col-6">PayrollSummary</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                             style="width: @(ViewContext.RouteData.Values["Action"].ToString() == "PayrollSummary" ? "100%" : "50%")"
                             aria-valuenow="@(ViewContext.RouteData.Values["Action"].ToString() == "PayrollSummary" ? "100%" : "50%")"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            $('.singlePayslip').hide();
            // only show first element at first
            $('.singlePayslip').first().show();

            $('#selectEmployee').on('change', (x) => {
                const selectedStaffId = $(x.target).val();
                console.log(selectedStaffId);
                $('.singlePayslip').hide();
                $('#' + selectedStaffId).show();

            });
        });
    </script>
}