﻿@model AdminAttendancePageViewModel
@{
    ViewData["Title"] = "Attendance";
    Layout = "_DashboardLayout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Edit Past Attendances</h4>
                    <p class="card-category">Bulk edit past attendances of each staff.</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Position
                            </th>
                            <th>
                                Edit Attendance
                            </th>
                            </thead>
                            <tbody>
                                @foreach (var staff in Model.StaffViewModels)
                                {
                                    <tr>
                                        <td>@staff.Id</td>
                                        <td>@staff.Name</td>
                                        <td>@staff.User?.Email</td>
                                        <td>@staff.Position</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" asp-action="Attendance" asp-route-id="@staff.Id" asp-controller="Admin">
                                                <span class="material-icons">
                                                    edit
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>