﻿@model List<PayslipViewModel>
@{
    ViewData["Title"] = "New Payroll";
    Layout = "_PayrollLayout";
}
@if (Model != null)
{
    <form asp-action="PayrollSummary" asp-controller="Admin" method="post">
        <div class="table-responsive">
            <table class="table table-shopping no-datatable">
                <thead>
                    <tr>
                        <th class="th-description">Name / Position</th>
                        <th class="th-description"></th>
                        <th class="text-right">RM</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        @Html.HiddenFor(m => m[i].StaffId)
                        @Html.HiddenFor(m => m[i].NetSalary)
                        <tr class="table-light">
                            <td>
                                <strong>@Model[i].Staff.Name</strong>&nbsp;&nbsp; @Model[i].Staff.Position.Name
                            </td>
                            <td></td>
                            <td class="td-number">@Model[i].NetSalary.ToString("0.00")</td>
                        </tr>
                        <tr class="table-success">
                            <td>
                                &nbsp;&nbsp; +
                                <strong>
                                    Salary
                                </strong>
                            </td>
                            <td></td>
                            <td class="td-number">@Model[i].Staff.SalaryAmount.ToString("0.00")</td>
                        </tr>
                        @await Html.PartialAsync("_PartialPayslipItems", Model[i].AddItems)
                        @await Html.PartialAsync("_PartialPayslipItems", Model[i].DeductItems)

                        <tr class="table-light">
                            <td>
                                &nbsp;&nbsp;
                            </td>
                            <td class="td-actions">
                            </td>
                            <td class="td-actions text-right">
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addItemModal_@Model[i].StaffId">+ Additional Payroll Item</button>

                                <!-- Modal for additional payroll item-->
                                <div class="modal fade" id="addItemModal_@Model[i].StaffId">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <label asp-for="@Model[i].AvailablePayrollItems"></label>
                                                <select class="form-control" data-style="btn btn-link" asp-for="@Model[i].NewItemId" asp-items="@Model[i].AvailablePayrollItems"></select>
                                                <label asp-for="@Model[i].NewItemAmount"></label>
                                                <input asp-for="@Model[i].NewItemAmount" class="form-control">
                                                <span asp-validation-for="@Model[i].NewItemAmount" class="text-danger"></span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-success" asp-action="NewPayroll" asp-controller="Admin">Add</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of modal-->

                            </td>
                        </tr>

                        @for (int k = 0; k < Model[i].ExistingItems.Count; k++)
                        {
                            @Html.HiddenFor(m => m[i].ExistingItems[k].PresetItemId)
                            @Html.HiddenFor(m => m[i].ExistingItems[k].ItemAmount)
                        }
                    }
                </tbody>
            </table>
        </div>

        <hr />

        <div class="text-right">
            <a class="btn btn-danger" asp-action="NewPayroll" asp-controller="Admin">Cancel & Restart</a>
            <button type="submit" class="btn btn-success">Save & Continue</button>
        </div>
    </form>
}

@if (Model == null)
{
    <div class="container-fluid mt-2">
        <h4 class="card-title">Cannot run new payroll. Either this month's payroll have been submitted before, or there is no staff.</h4>
        <p class="card-category">
            Please check the <a asp-action="PayrollHistory" asp-controller="Admin"><em>Payroll History</em></a>
        </p>
    </div>
}