﻿@model PayrollSummaryViewModel
@{
    ViewData["Title"] = "New Payroll";
    Layout = "_PayrollLayout";
}
    <form asp-controller="Admin" method="post">
        <div class="container-fluid mt-5">
            <div class="card card-nav-tabs card-plain">
                <div class="card-header card-header-success">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#summary" data-toggle="tab">summary</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#payslips" data-toggle="tab">payslips</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="tab-content text-center">
                        <div class="tab-pane active" id="summary">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="th-description text-left">Employee</th>
                                            <th class="th">Basic</th>
                                            <th class="th">Additions</th>
                                            <th class="th">Deductions</th>
                                            <th class="th bg-info text-white">EPF (employee)</th>
                                            <th class="th bg-info text-white">SOCSO (employee)</th>
                                            <th class="th bg-danger text-white">EPF (employer)</th>
                                            <th class="th bg-danger text-white">SOCSO (employer)</th>
                                            <th class="text-right">Net Pay</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var payslip in Model.PayslipViewModels)
                                        {
                                            <tr class="table-light">
                                                <td class=" text-left">
                                                    <strong>@payslip.Staff.Name</strong>
                                                    <br />
                                                    @payslip.Staff.Position.Name
                                                </td>
                                                <td>
                                                    @payslip.BaseSalary.ToString("0.00")
                                                </td>

                                                <td>
                                                    @payslip.VariablePay.ToString("0.00")
                                                </td>

                                                <td>
                                                    @payslip.VariableDeduction.ToString("0.00")
                                                </td>

                                                <td>
                                                    @payslip.OutEPF_EmployeeAmount.ToString("0.00")
                                                </td>

                                                <td>
                                                    @payslip.OutSOCSO_EmployeeAmount.ToString("0.00")
                                                </td>

                                                <td>
                                                    @payslip.OutEPF_EmployerAmount.ToString("0.00")
                                                </td>

                                                <td>
                                                    @payslip.OutSOCSO_EmployerAmount.ToString("0.00")
                                                </td>

                                                <td>
                                                    @payslip.NetSalary.ToString("0.00")
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="tab-pane text-left" id="payslips">

                            <div class="form-group">
                                <label for="selectEmployee">Employee</label>
                                <select class="form-control" data-style="btn btn-link" id="selectEmployee">
                                    @foreach (var payslip in Model.PayslipViewModels)
                                    {
                                        <option value="@payslip.StaffId">@payslip.Staff.Name</option>
                                    }
                                </select>
                            </div>

                            <div>
                                @for (int i = 0; i < Model.PayslipViewModels.Count; i++)
                                {
                                    // atomic field
                                    @Html.HiddenFor(m => m.PayslipViewModels[i].StaffId)
                                    @Html.HiddenFor(m => m.PayslipViewModels[i].BaseSalary)
                                    @Html.HiddenFor(m => m.PayslipViewModels[i].Date)
                                    @Html.HiddenFor(m => m.PayslipViewModels[i].InEPF_EmployeeRate)
                                    @Html.HiddenFor(m => m.PayslipViewModels[i].InEPF_EmployerRate)
                                    @Html.HiddenFor(m => m.PayslipViewModels[i].OutEPF_EmployeeAmount)
                                    @Html.HiddenFor(m => m.PayslipViewModels[i].OutEPF_EmployerAmount)
                                    @Html.HiddenFor(m => m.PayslipViewModels[i].OutSOCSO_EmployeeAmount)
                                    @Html.HiddenFor(m => m.PayslipViewModels[i].OutSOCSO_EmployerAmount)
                                    @Html.HiddenFor(m => m.PayslipViewModels[i].NetSalary)
                                    @Html.HiddenFor(m => m.PayslipViewModels[i].VariablePay)
                                    @Html.HiddenFor(m => m.PayslipViewModels[i].VariableDeduction)
                                    // nested field
                                    @for (int j = 0; j < Model.PayslipViewModels[i].ExistingItems.Count; j++)
                                    {
                                        @Html.HiddenFor(m => m.PayslipViewModels[i].ExistingItems[j].PresetItemId)
                                        @Html.HiddenFor(m => m.PayslipViewModels[i].ExistingItems[j].ItemAmount)
                                    }
                                }

                            </div>

                            <div id="allPayslips">
                                @foreach (var payslip in Model.PayslipViewModels)
                                {
                                    @await Html.PartialAsync("_PartialPayslip.cshtml", payslip)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="text-right">
            <button type="submit" formaction="ReturnNewPayroll" class="btn btn-danger">Back</button>

            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#saveAndComplete">
                Save & Complete
            </button>
        </div>

            <div class="modal fade" id="saveAndComplete">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Confirm to submit this payroll? This action is not reversible.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" formaction="CompletePayroll" class="btn btn-success">Save & Complete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
    </form>