﻿@model PayrollHistoryViewModel
@{
    ViewData["Title"] = "Payroll History";
    Layout = "_DashboardLayout";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Payroll History</h4>
            @if (Model != null)
            {
                <p class="card-category">@(Model.PayrollSummaryViewModel.PayslipViewModels.FirstOrDefault().Date.ToString("MMMM") + " " + Model.PayrollSummaryViewModel.PayslipViewModels.FirstOrDefault().Date.Year.ToString())</p>
            }
        </div>

        <div class="card-body">
            <div id="typography">
                @if (Model != null)
                {
                    <form asp-controller="Admin" method="post">
                        <div class="container-fluid mt-2">
                            <div class="form-group">
                                <label asp-for="@Model.SelectedPayroll"></label>
                                <select class="form-control" data-style="btn btn-link" asp-for="@Model.SelectedPayroll" asp-items="@Model.PastPayroll"></select>
                            </div>
                            <button type="submit" formaction="PayrollHistory" class="btn btn-primary">Switch</button>

                            <div class="card card-nav-tabs card-plain mt-3 pt-5">
                                <div class="card-header card-header-success">
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#summary" data-toggle="tab">summary</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#payslips" data-toggle="tab">payslips</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="tab-content text-center">
                                        <div class="tab-pane active" id="summary">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="th-description text-left">Employee</th>
                                                            <th class="th">Basic</th>
                                                            <th class="th">Additions</th>
                                                            <th class="th">Deductions</th>
                                                            <th class="th bg-info text-white">EPF (employee)</th>
                                                            <th class="th bg-info text-white">SOCSO (employee)</th>
                                                            <th class="th bg-danger text-white">EPF (employer)</th>
                                                            <th class="th bg-danger text-white">SOCSO (employer)</th>
                                                            <th class="text-right">Net Pay</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var payslip in Model.PayrollSummaryViewModel.PayslipViewModels)
                                                        {
                                                            <tr class="table-light">
                                                                <td class=" text-left">
                                                                    <strong>@payslip.Staff.Name</strong>
                                                                    <br />
                                                                    @payslip.Staff.Position.Name
                                                                </td>
                                                                <td>
                                                                    @payslip.BaseSalary.ToString("0.00")
                                                                </td>

                                                                <td>
                                                                    @payslip.VariablePay.ToString("0.00")
                                                                </td>

                                                                <td>
                                                                    @payslip.VariableDeduction.ToString("0.00")
                                                                </td>

                                                                <td>
                                                                    @payslip.OutEPF_EmployeeAmount.ToString("0.00")
                                                                </td>

                                                                <td>
                                                                    @payslip.OutSOCSO_EmployeeAmount.ToString("0.00")
                                                                </td>

                                                                <td>
                                                                    @payslip.OutEPF_EmployerAmount.ToString("0.00")
                                                                </td>

                                                                <td>
                                                                    @payslip.OutSOCSO_EmployerAmount.ToString("0.00")
                                                                </td>

                                                                <td>
                                                                    @payslip.NetSalary.ToString("0.00")
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>


                                        <div class="tab-pane text-left" id="payslips">

                                            <div class="form-group">
                                                <label for="selectEmployee">Employee</label>
                                                <select class="form-control" data-style="btn btn-link" id="selectEmployee">
                                                    @foreach (var payslip in Model.PayrollSummaryViewModel.PayslipViewModels)
                                                    {
                                                        <option value="@payslip.StaffId">@payslip.Staff.Name</option>
                                                    }
                                                </select>
                                            </div>

                                            <div>
                                                @for (int i = 0; i < Model.PayrollSummaryViewModel.PayslipViewModels.Count; i++)
                                                {
                                                    // hidden input initialize for PDF content
                                                    <input type="hidden" asp-for="@Model.PayslipHTML[i]" class="pdfArray" />

                                                    <input type="hidden" asp-for="@Model.PayslipStaffSequence[i]" class="pdfStaffIds" />

                                                    // atomic field
                                                    @Html.HiddenFor(m => m.PayrollSummaryViewModel.PayslipViewModels[i].StaffId)
                                                    @Html.HiddenFor(m => m.PayrollSummaryViewModel.PayslipViewModels[i].BaseSalary)
                                                    @Html.HiddenFor(m => m.PayrollSummaryViewModel.PayslipViewModels[i].Date)
                                                    @Html.HiddenFor(m => m.PayrollSummaryViewModel.PayslipViewModels[i].InEPF_EmployeeRate)
                                                    @Html.HiddenFor(m => m.PayrollSummaryViewModel.PayslipViewModels[i].InEPF_EmployerRate)
                                                    @Html.HiddenFor(m => m.PayrollSummaryViewModel.PayslipViewModels[i].OutEPF_EmployeeAmount)
                                                    @Html.HiddenFor(m => m.PayrollSummaryViewModel.PayslipViewModels[i].OutEPF_EmployerAmount)
                                                    @Html.HiddenFor(m => m.PayrollSummaryViewModel.PayslipViewModels[i].OutSOCSO_EmployeeAmount)
                                                    @Html.HiddenFor(m => m.PayrollSummaryViewModel.PayslipViewModels[i].OutSOCSO_EmployerAmount)
                                                    @Html.HiddenFor(m => m.PayrollSummaryViewModel.PayslipViewModels[i].NetSalary)
                                                    @Html.HiddenFor(m => m.PayrollSummaryViewModel.PayslipViewModels[i].VariablePay)
                                                    @Html.HiddenFor(m => m.PayrollSummaryViewModel.PayslipViewModels[i].VariableDeduction)
                                                }

                                            </div>

                                            <div id="allPayslips">
                                                @foreach (var payslip in Model.PayrollSummaryViewModel.PayslipViewModels)
                                                {
                                                    @await Html.PartialAsync("_PartialPayslip.cshtml", payslip)
                                                }
                                            </div>

                                            <input type="hidden" name="HTMLcontent" id="pdfInput" value="" />
                                            <button type="submit" asp-action="GeneratePDF" asp-controller="PDF" class="btn btn-primary" id="downloadSingle">Download PDF</button>


                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <hr />

                        <div class="text-right">
                            <button id="emailAndDownload" type="button" formaction="" class="btn btn-primary">Send Email to All & Download</button>
                            <hr />
                            <button id="emailAll" type="button" formaction="" class="btn btn-info">Send Email to All</button>
                            <button id="downloadAll" type="button" formaction="" class="btn btn-success">Download All</button>
                        </div>
                    </form>
                }
                @if (Model == null)
                {
                    <div class="container-fluid mt-2">
                        <h4 class="card-title">No payroll submitted</h4>
                        <p class="card-category">
                            Start your first payroll by clicking <a asp-action="NewPayroll" asp-controller="Admin"><em>New Payroll</em></a>
                        </p>
                    </div>
                }
                </div>
            </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(() => {
            $('.singlePayslip').hide();
            // only show first element at first
            $('.singlePayslip').first().show();

            $('#selectEmployee').on('change', (x) => {
                const selectedStaffId = $(x.target).val();
                console.log(selectedStaffId);
                $('.singlePayslip').hide();
                $('#' + selectedStaffId).show();

            });
        });


        // download single pdf
        $(document).ready(() => {
            $('#downloadSingle').on('click', (x) => {
                x.preventDefault();
                const selectedStaffId = $('#selectEmployee').val();
                console.log(selectedStaffId);
                const payslip = $('#' + selectedStaffId)[0].outerHTML;
                console.log(payslip);
                $('#pdfInput').val(payslip);
                $('form').attr('action', '/PDF/GeneratePDF');
                $('form').attr('target', 'popup_pdf');
                $('form').on('submit', () => window.open('about:blank', 'popup_pdf', 'width=1000,height=720'));
                $('form').submit();

                $('form').off('submit');
                $('form').attr('target', '_self');
            });
        });


        // download all pdf
        $(document).ready(() => {
            $('#downloadAll').on('click', (x) => {
                x.preventDefault();
                preparePDF();

                $('form').attr('action', '/PDF/DownloadList');
                $('form').attr('target', 'popup_pdf');
                $('form').on('submit', () => window.open('about:blank', 'popup_pdf', 'width=800,height=400'));
                $('form').submit();

                $('form').off('submit');
                $('form').attr('target', '_self');
            });
        });


        // send pdf to all staff thru email
        $(document).ready(() => {
            $('#emailAll').on('click', (x) => {
                x.preventDefault();
                preparePDF();

                $('form').attr('action', '/PDF/SendEmailToAll');
                $('form').attr('target', 'popup_pdf');
                $('form').on('submit', () => window.open('about:blank', 'popup_pdf', 'width=800,height=400'));
                $('form').submit();

                $('form').off('submit');
                $('form').attr('target', '_self');
            })
        });

        // download all and send email
        $(document).ready(() => {
            $('#emailAndDownload').on('click', (x) => {
                x.preventDefault();
                preparePDF();

                $('form').attr('action', '/PDF/SendEmailToAllAndDownload');
                $('form').attr('target', 'popup_pdf');
                $('form').on('submit', () => window.open('about:blank', 'popup_pdf', 'width=800,height=400'));
                $('form').submit();

                $('form').off('submit');
                $('form').attr('target', '_self');
            })
        });

        function preparePDF() {
            const pdfNodes = $('.singlePayslip');
            let pdfHTMLList = [];
            let pdfArray = $('.pdfArray');
            let pdfStaffIds = $('.pdfStaffIds');

            for (let elem of document.querySelectorAll('.singlePayslip')) {
                elem.style.display = 'block';
            }

            for (let n of pdfNodes) {
                pdfHTMLList.push(n.outerHTML);
            }

            for (let elem of document.querySelectorAll('.singlePayslip')) {
                elem.style.display = 'none';
            }

            for (let i = 0; i < pdfArray.length; i++) {
                pdfArray.eq(i).val(pdfHTMLList.shift());
                pdfStaffIds.eq(i).val(pdfNodes.eq(i).attr('id'));
            }

            const selectedStaffId = $('#selectEmployee').val();
            $('.singlePayslip').hide();
            $('#' + selectedStaffId).show();
        }
    </script>
}