﻿@{
    ViewData["Title"] = "Others";
    Layout = "_DashboardLayout";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-success">
            <h4 class="card-title">Payslip Steps</h4>
            <p class="card-category">Payslip</p>
        </div>
        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    <h2>?</h2>
                </div>
                3 steps, update later (need 3 pages)
                <ol>
                    <li>Adjustments: bonus/deductions, etc.</li>
                    <li>Summary & Payslips</li>
                    <li>Confirm (+email/download)</li>
                </ol>
            </div>
        </div>
    </div>
</div>