﻿@model ReportSingleStaffViewModel
@{
    ViewData["Title"] = "Report";
    Layout = "_DashboardLayout";
}

<div class="container-fluid">
    <h4>Report of @Model.StaffViewModel.Name</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title ">Past Payslip Received</h4>
                    <p class="card-category">-</p>
                </div>
                <div class="card-body">
                    @if (Model.PayslipViewModels != null)
                    {
                        <div class="table-responsive">
                            <table class="table">
                                <tr class=" text-primary">
                                    <th>Date</th>
                                    <th>Basic Salary</th>
                                    <th>Net Salary</th>
                                    <th>Variable Pay</th>
                                    <th>Variable Deduction</th>
                                    <th>EPF Contributed</th>
                                    <th>SOCSO Contributed</th>
                                </tr>
                                <tbody>
                                    @foreach (var payslip in Model.PayslipViewModels)
                                    {
                                        <tr>
                                            <td>@payslip.Date.ToString("yyyy-MM-dd")</td>
                                            <td>@payslip.BaseSalary.ToString("0.00")</td>
                                            <td>@payslip.NetSalary.ToString("0.00")</td>
                                            <td>@payslip.VariablePay.ToString("0.00")</td>
                                            <td>@payslip.VariableDeduction.ToString("0.00")</td>
                                            <td>@payslip.OutEPF_EmployeeAmount.ToString("0.00")</td>
                                            <td>@payslip.OutSOCSO_EmployeeAmount.ToString("0.00")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    }
                    @if (Model.PayslipViewModels == null)
                    {
                        <div class="container-fluid mt-2">
                            <h4 class="card-title">No payroll record found</h4>
                            <p class="card-category">
                                Report will be shown after first payroll submitted for this staff
                            </p>
                        </div>
                    }
                </div>
            </div>



            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Payslips</h4>
                </div>

                <div class="card-body">
                    <div id="typography">
                        @if (Model.PayslipViewModels != null)
                        {
                            <form method="post">
                                <div class="container-fluid mt-2">
                                    <div class="form-group">
                                        <label for="selectPayslip">Year/Month</label>
                                        <select class="form-control" data-style="btn btn-link" id="selectPayslip">
                                            @foreach (var payslip in Model.PayslipViewModels)
                                            {
                                                <option value="@payslip.Id">@payslip.Date.ToString("yyyy/MM")</option>
                                            }
                                        </select>
                                    </div>

                                    @foreach (var payslip in Model.PayslipViewModels)
                                    {
                                        @await Html.PartialAsync("_PartialPayslip.cshtml", payslip)
                                    }

                                    <input type="hidden" name="HTMLcontent" id="pdfInput" value="" />
                                    <button type="submit" asp-action="GeneratePDF" asp-controller="PDF" class="btn btn-primary" id="downloadSingle">Download PDF</button>

                                </div>

                            </form>
                        }
                        @if (Model.PayslipViewModels == null)
                        {
                            <div class="container-fluid mt-2">
                                <h4 class="card-title">No payslip found</h4>
                                <p class="card-category">
                                    Payslip will be shown after first payroll submitted for this staff
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script>
        $(document).ready(() => {
            $('.singlePayslip').hide();
            // only show first element at first
            $('.singlePayslip').first().show();

            $('#selectPayslip').on('change', (x) => {
                const selectedPayslipId = $(x.target).val();
                console.log(selectedPayslipId);
                $('.singlePayslip').hide();
                $('.payslipId' + selectedPayslipId).show();
            });
        });


        // download single pdf
        $(document).ready(() => {
            $('#downloadSingle').on('click', (x) => {
                x.preventDefault();
                const selectedPayslipId = $('#selectPayslip').val();
                console.log(selectedPayslipId);
                const payslip = $('.payslipId' + selectedPayslipId)[0].outerHTML;
                console.log(payslip);
                $('#pdfInput').val(payslip);
                $('form').attr('action', '/PDF/GeneratePDF');
                $('form').attr('target', 'popup_pdf');
                $('form').on('submit', () => window.open('about:blank', 'popup_pdf', 'width=1000,height=720'));
                $('form').submit();

                $('form').off('submit');
                $('form').attr('target', '_self');
            });
        });

    </script>
}