﻿@model SettingsViewModel
@{
    ViewData["Title"] = "Settings";
    Layout = "_DashboardLayout";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Available Positions</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-success">
                                <th>
                                    No.
                                </th>
                                <th>
                                    Position
                                </th>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PositionsList)
                                    {
                                        <tr>
                                            <td>
                                                @item.Value
                                            </td>
                                            <td>
                                                @item.Text
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("_PartialCreatePosition", Model.CreatePositionCommand)


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Available Preset Payslip Items</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-success">
                                <th>
                                    Id
                                </th>
                                <th>
                                    Preset Item Name
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    EPF Applicable
                                </th>
                                <th>
                                    SOCSO Applicable
                                </th>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PresetItemsList)
                                    {
                                    <tr>
                                        <td>
                                            @item.Id
                                        </td>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @(item.Direction > 0 ? "Addition" : "Deduction")
                                        </td>
                                        <td>
                                            @item.EPF_Applicable
                                        </td>
                                        <td>
                                            @item.SOCSO_Applicable
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("_PartialCreatePayslipItem", Model.PresetPayslipItemViewModel)
        @await Html.PartialAsync("_PartialAdjustEPFRates", Model.EPFRatesViewModelList)
    </div>