﻿@model AdminStaffPageViewModel
@{
    ViewData["Title"] = "Staff";
    Layout = "_DashboardLayout";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">List of staff</h4>
                        <p class="card-category">-</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Position
                                </th>
                                <th>
                                    Action
                                </th>
                                </thead>
                                <tbody>
                                    @foreach (var staff in Model.StaffViewModels)
                                    {
                                    <tr>
                                        <td>@staff.Id</td>
                                        <td>@staff.Name</td>
                                        <td>@staff.User?.Email</td>
                                        <td>@staff.Position</td>
                                        <td>
                                            <a class="btn btn-success btn-sm" asp-action="Staff" asp-route-id="@staff.Id" asp-controller="Admin">
                                                <span class="material-icons">
                                                    edit
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        @await Html.PartialAsync("_PartialCreateStaff", Model.CreateStaffCommand)
    </div>