﻿@model UpdateStaffAttendanceCommand
@{
    ViewData["Title"] = "Update Attendance";
    Layout = "_DashboardLayout";
}

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-danger btn-sm" asp-action="Attendance" asp-controller="Admin" asp-route-id="">BACK</a>
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Update Attendance</h4>
                <p class="card-category">Update the attendances of <strong>@Model.StaffName</strong></p>
            </div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@Model.StaffId" />
                    <div class="form-group">
                        <label asp-for="@Model.StartDate"></label>
                        <input asp-for="@Model.StartDate" class="form-control" id="attendnceStartDate" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.EndDate"></label>
                        <input asp-for="@Model.EndDate" class="form-control" id="attendnceEndDate" />
                    </div>
                    <button type="submit" class="btn btn-danger" asp-action="UpdateAttendanceDate" asp-controller="Admin">Change date</button>
                </form>

                <div id="displayAttendances">
                    @await Html.PartialAsync("_PartialUpdateAttendance", Model.CreateAttendanceCommands)

                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(() => {
            $('#markAttend').on('click', () => {
                let inputs = $('select');
                for (let i = 0; i < inputs.length; i++) {
                    inputs.eq(i).val('1');
                }
            })

            $('#markAbsent').on('click', () => {
                let inputs = $('select');
                for (let i = 0; i < inputs.length; i++) {
                    inputs.eq(i).val('0');
                }
            })
        });
    </script>
}