﻿@model UpdateStaffCommand
@{
    ViewData["Title"] = "Update Staff";
    Layout = "_DashboardLayout";
}

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-danger btn-sm" asp-action="Staff" asp-controller="Admin" asp-route-id="">BACK</a>
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Update Staff</h4>
                <p class="card-category">Update the details of the staff</p>
            </div>
            <div class="card-body">
                <form asp-action="UpdateStaff" asp-controller="Admin" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ICNo"></label>
                        <input asp-for="ICNo" class="form-control" required>
                        <span asp-validation-for="ICNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactNo"></label>
                        <input asp-for="ContactNo" class="form-control" required>
                        <span asp-validation-for="ContactNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" readonly="@(true)">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PositionId"></label>
                        <select class="form-control" data-style="btn btn-link" asp-for="PositionId" asp-items="Model.PositionList"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="StreetAddress"></label>
                        <textarea asp-for="StreetAddress" class="form-control" required></textarea>
                        <span asp-validation-for="StreetAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City"></label>
                        <textarea asp-for="City" class="form-control" required></textarea>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PostalCode"></label>
                        <textarea asp-for="PostalCode" class="form-control" required></textarea>
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StateId"></label>
                        <select class="form-control" data-style="btn btn-link" asp-for="StateId" asp-items="Model.StateList"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="NationalityId"></label>
                        <select class="form-control" data-style="btn btn-link" asp-for="NationalityId" asp-items="Model.NationalityList"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="AdmissionDate"></label>
                        <input asp-for="AdmissionDate" class="form-control" required>
                        <span asp-validation-for="AdmissionDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DOB"></label>
                        <input asp-for="DOB" class="form-control" required>
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SalaryAmount"></label>
                        <input type="number" asp-for="SalaryAmount" class="form-control" required>
                        <span asp-validation-for="SalaryAmount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EPF_No"></label>
                        <input asp-for="EPF_No" class="form-control" required>
                        <span asp-validation-for="EPF_No" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EPF_StatusId"></label>
                        <select class="form-control" data-style="btn btn-link" asp-for="EPF_StatusId" asp-items="Model.EPF_StatusList"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="EPF_EmployerRate"></label>
                        <input class="form-control" asp-for="EPF_EmployerRate"></input>
                        <span asp-validation-for="EPF_EmployerRate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EPF_EmployeeRate"></label>
                        <input class="form-control" asp-for="EPF_EmployeeRate"></input>
                        <span asp-validation-for="EPF_EmployeeRate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SOCSO_CategoryId"></label>
                        <select class="form-control" data-style="btn btn-link" asp-for="SOCSO_CategoryId" asp-items="Model.SOCSO_CategoryList"></select>
                    </div>
                    <button type="submit" class="btn btn-danger">Submit</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>