﻿<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewData["Title"] | EchoPay</title>

    <!-- CSS Files -->
    <link href="~/landing-assets/css/material-kit.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Fonts and icons -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

</head>
<body class="login-page sidebar-collapse" style="background-image: url('/lib/img/812553.jpg'); background-size: cover; background-position: top center;">
    @RenderBody()

    <!--   Core JS Files   -->
    <script src="~/landing-assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="~/landing-assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/landing-assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="~/landing-assets/js/plugins/moment.min.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="~/landing-assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/landing-assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!--  Google Maps Plugin  -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="~/landing-assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>