﻿<nav class="navbar navbar-transparent navbar-expand mb-2 ml-3 text-dark" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="http://v3x.my/" target="_blank">
                V3X
            </a>
        </div>
    </div>
</nav>