﻿@{
    ViewData["Title"] = "Password Successfully Changed";
    Layout = "_LandingLayout";
}
@await Html.PartialAsync("_PartialNavbar")
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login mt-5">
                <div class="card-header card-header-success text-center">
                    <h4 class="text-center">Done!</h4>
                </div>
                <div class="card-body my-auto">
                    <h4 class="text-center">Your password has been changed successfully</h4>
                    <div class="text-center">
                        <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>