﻿@{
    ViewData["Title"] = "Access Denied";
    Layout = "_LandingLayout";
}

@await Html.PartialAsync("_PartialNavbar")
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-login mt-5">
                    <div class="card-header card-header-success text-center">
                        <h4 class="card-title">Access Denied</h4>
                    </div>
                    <div class="card-body my-auto py-4">
                        <p>You do not have permission to view this page.</p>
                        <div class="text-center">
                            <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="pt-sm-5">
        <div class="container">
            <nav class="float-left text-light">
            </nav>
            <!--
            <div class="copyright float-right">
                &copy;
                <script>
            document.write(new Date().getFullYear())
                </script>
            </div>
        -->
        </div>
    </footer>