﻿@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "_LandingLayout";
}
@await Html.PartialAsync("_PartialNavbar")
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login mt-5">
                <div class="card-header card-header-success text-center">
                    <h4 class="text-center">Change Password</h4>
                </div>
                <form method="post">
                    <div class="card-body my-auto">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CurrentPassword"></label>
                            <input asp-for="CurrentPassword" class="form-control" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Change Password</button>
                            <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>