﻿@{
    ViewData["Title"] = "Email Sent";
    Layout = "_LandingLayout";
}

@await Html.PartialAsync("_PartialNavbar")
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login mt-5">
                <div class="card-header card-header-success text-center">
                    <h4 class="card-title">Welcome</h4>
                    <p class="text-center">To V3X Payroll System - EchoPay</p>
                </div>
                <div class="card-body my-auto">
                    <h3>We have sent an email to you email account. Please open it and go the link to reset your password.</h3> 
                </div>
            </div>
        </div>
    </div>
</div>