﻿@{
    ViewData["Title"] = "Forget Password";
    Layout = "_LandingLayout";
}

@await Html.PartialAsync("_PartialNavbar")
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login mt-5">
                <form class="form" asp-action="ForgetPassword" asp-controller="Home" method="post">
                    <div class="card-header card-header-success text-center">
                        <h4 class="card-title">Welcome</h4>
                        <p class="text-center">To V3X Payroll System - EchoPay</p>
                    </div>
                    <div class="card-body my-auto">
                        <h4>Submit your email, we will send a link for you to reset password.</h4>
                        <div class="input-group my-3">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="material-icons">lock_outline</i>
                                    <label>Email address</label>
                                </span>
                            </div>
                            <input name="email" type="email" class="form-control mx-2" placeholder="Your email" required>
                        </div>
                        <div class="text-center py-auto my-auto mx-auto">
                            <button type="submit" class="btn btn-success btn-lg">Confirm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="pt-sm-5">
    <div class="container">
        <nav class="float-left text-light">
        </nav>
        <!--
            <div class="copyright float-right">
                &copy;
                <script>
            document.write(new Date().getFullYear())
                </script>
            </div>
        -->
    </div>
</footer>