﻿@{
    ViewData["Title"] = "Login";
    Layout = "_LandingLayout";
}

@await Html.PartialAsync("_PartialNavbar")
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login mt-5">
                <form class="form" method="post">
                    <div class="card-header card-header-success text-center">
                        <h4 class="card-title">Welcome Back</h4>
                        <p class="text-center">To V3X Payroll System - EchoPay</p>
                    </div>
                    <div class="card-body my-auto pb-3">
                        <div class="input-group my-3">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="material-icons">face</i>
                                    &nbsp; Username/Email
                                </span>
                            </div>
                            <input name="username" type="text" class="form-control mx-2" placeholder="Email/Username" required>
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="material-icons">lock_outline</i>
                                    &nbsp; Password
                                </span>
                            </div>
                            <input name="password" type="password" class="form-control mx-2" placeholder="Password..." required>
                        </div>

                        @if (ViewData["msg"] != null)
                        {
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>@ViewData["msg"]</strong>
                            </div>
                        }

                        <div class="text-center py-auto my-auto mx-auto">
                            <button type="submit" class="btn btn-success btn-lg">Login</button>
                        </div>
                        <div class="text-center py-auto my-auto mx-auto">
                            <a asp-controller="Home" asp-action="ForgetPassword">Forget password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>