﻿@{
    ViewData["Title"] = "Emails Sent";
    Layout = "_LandingLayout";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card card-login mt-5">
                <div class="card-header card-header-success text-center">
                    <h4 class="card-title">Done</h4>
                </div>
                <div class="card-body my-auto py-4">
                    All emails have been sent successfully.
                </div>
            </div>
        </div>
    </div>
</div>