﻿<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Dashboard" ? "active" : "")">
            <a class="nav-link" asp-area="" asp-action="Dashboard">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Admin" ? "active" : "")">
            <a class="nav-link" asp-area="" asp-action="Admin">
                <i class="material-icons">android</i>
                <p>Admin</p>
            </a>
        </li>
        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Report" ? "active" : "")">
            <a class="nav-link" asp-area="" asp-action="Report">
                <i class="material-icons">toc</i>
                <p>Report</p>
            </a>
        </li>
    </ul>
</div>