﻿@model AllAdminsPageViewModel
@{
    ViewData["Title"] = "Admin";
    Layout = "_DashboardLayout";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title ">List of admins</h4>
                    <p class="card-category">-</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                UserName
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Full Name
                            </th>
                            <th>
                                Position
                            </th>
                            <th>
                                Terminate
                            </th>
                            </thead>
                            <tbody>
                                @foreach (var admin in Model.AdminViewModels)
                                {
                                <tr>
                                    <td>@admin.User.UserName</td>
                                    <td>@admin.User.Email</td>
                                    <td>@admin.Staff?.Name</td>
                                    <td>@admin.Staff?.Position?.Name</td>
                                    <td>
                                        <form method="post">
                                            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#removeModal_@admin.User.Id">
                                                <span class="material-icons">
                                                    delete
                                                </span>
                                            </button>

                                            <div class="modal fade" id="removeModal_@admin.User.Id">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Confirm terminating?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-danger" asp-action="TerminateAdmin" asp-controller="SuperAdmin" asp-route-id="@admin.User.Id">Yes</button>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title ">List of non-admin staff</h4>
                    <p class="card-category">-</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Position
                            </th>
                            <th>
                                Set as Admin
                            </th>
                            </thead>
                            <tbody>
                                @foreach (var staff in Model.StaffViewModels)
                                {
                                <tr>
                                    <td>@staff.Staff?.Id</td>
                                    <td>@staff.Staff?.Name</td>
                                    <td>@staff.User?.Email</td>
                                    <td>@staff.Staff?.Position?.Name</td>
                                    <td>
                                        <form method="post">
                                            <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#setAdminModal_@staff.User.Id">
                                                <span class="material-icons">
                                                    vpn_key
                                                </span>
                                            </button>

                                            <div class="modal fade" id="setAdminModal_@staff.User.Id">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Confirm set as admin?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-danger" asp-action="SetAsAdmin" asp-controller="SuperAdmin" asp-route-id="@staff.User.Id">Yes</button>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_PartialCreateAdmin", Model.CreateAdminCommand)
</div>