﻿@model EchoPay.Models.SuperAdmin.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_DashboardLayout";
}
    <div class="container-fluid">
        <div class="row">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Company Details</h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                        <th>Name</th>
                        <th>Type</th>
                        <th>ContactNo</th>
                        <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.CompanyViewModel.Name</td>
                                <td>@Model.CompanyViewModel.Type</td>
                                <td>@Model.CompanyViewModel.ContactNo</td>
                                <td>
                                    <a class="btn btn-success btn-sm" asp-action="Company" asp-route-id="@Model.CompanyViewModel.Id" asp-controller="SuperAdmin">
                                        <span class="material-icons">
                                            edit
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Staff Number</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-category">
                            <span class="text-success">@Model.StaffNumber</span> staff(s)
                        </h2>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Admin Number</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-category">
                            <span class="text-success">@Model.AdminNumber</span> admin(s)
                        </h2>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-primary">
                            <h4>Number of Staff by Position:</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr class=" text-primary">
                                        <th>Position</th>
                                        <th>Number</th>
                                    </tr>
                                    @foreach (KeyValuePair<string, int> entry in Model.PositionNumbersDict)
                                    {
                                        <tr>
                                            <td>@entry.Key</td>
                                            <td>@entry.Value</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="nav-tabs-wrapper">
                            <div class="card-header card-header-tabs card-header-primary">
                                <span class="nav-tabs-title">V3X MALAYSIA</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#motto" data-toggle="tab">
                                            Motto
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#mission" data-toggle="tab">
                                            Mission
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#vision" data-toggle="tab">
                                            Vision
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="motto">
                                        <h3 class="card-category">
                                            Vision, Virtual & Visualization
                                        </h3>
                                    </div>
                                    <div class="tab-pane" id="mission">
                                        <h3 class="card-category">
                                            Product Development
                                            <br />
                                            Service Providing
                                            <br />
                                            Internal Strength
                                        </h3>
                                    </div>
                                    <div class="tab-pane" id="vision">
                                        <h3 class="card-category">
                                            Being a leading company incorporated technology of V3X and leading printing technology in Asia
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </div>
            </div>
        </div>
