﻿@model List<PayrollHistoryViewModel>
@{
    ViewData["Title"] = "Report";
    Layout = "_DashboardLayout";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Payroll Report</h4>
            <span>-</span>
        </div>

        <div class="card-body">
            <div id="typography">
                @if (Model != null)
                {
                    <div class="table-responsive">
                        <table class="table">
                            <tr class=" text-primary">
                                <th>Date</th>
                                <th>Total Net Salary</th>
                                <th>Total EPF Contributed by Company</th>
                                <th>Total SOCSO Contributed by Company</th>
                                <th>Total Expenses</th>
                            </tr>
                            <tbody>
                                @foreach (var payroll in Model)
                                {
                                    // calculations
                                    string date = payroll.PayrollSummaryViewModel
                                        .PayslipViewModels.First().Date.ToString("yyyy-MM-dd");

                                    double totalNet = payroll.PayrollSummaryViewModel.TotalEmployeeNetPay;
                                    double totalEPF = payroll.PayrollSummaryViewModel.TotalEPF_Payment;
                                    double totalSOCSO = payroll.PayrollSummaryViewModel.TotalSOCSO_Payment;
                                    double totalExpenses = totalNet + totalEPF + totalSOCSO;

                                    // end of calculations

                                <tr>
                                    <td>@date</td>
                                    <td>@totalNet.ToString("0.00")</td>
                                    <td>@totalEPF.ToString("0.00")</td>
                                    <td>@totalSOCSO.ToString("0.00")</td>
                                    <td>@totalExpenses.ToString("0.00")</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                      
                }
                @if (Model == null)
                {
                    <div class="container-fluid mt-2">
                        <h4 class="card-title">No payroll submitted</h4>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
