﻿@{
    ViewData["Title"] = "Testing";
    Layout = "_DashboardLayout";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Testing Control Panel</h4>
            <span>-</span>
        </div>

        <div class="card-body">
            <div class="container my-5">
                <form asp-controller="SuperAdmin" asp-action="AddRandomStaff" method="post">
                    <h4>Add random staffs</h4>
                    <label>Number of staff</label>
                    <select class="form-control" data-style="btn btn-link" name="number">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <button type="submit" class="btn btn-danger">CONFIRM</button>
                </form>
            </div>
            <hr />
            <div class="container my-5">
                <form asp-controller="SuperAdmin" asp-action="AddPastPayroll" method="post">
                    <h4>Add past payroll for all staff</h4>
                    <label>Number of month</label>
                    <select class="form-control" data-style="btn btn-link" name="number">
                        <option value="1">1</option>
                        <option value="6">6</option>
                        <option value="12">12</option>
                    </select>
                    <button type="submit" class="btn btn-danger">CONFIRM</button>
                </form>
            </div>
            <hr />
            <div class="container my-5">
                <form asp-controller="SuperAdmin" asp-action="RemoveAllStaff" method="post">
                    <h4>Remove all staff (and admin)</h4>
                    <button type="submit" class="btn btn-danger">CONFIRM</button>
                </form>
            </div>
            <hr />
            <div class="container my-5">
                <form asp-controller="SuperAdmin" asp-action="ClearPayrollHistory" method="post">
                    <h4>Clear all payroll history</h4>
                    <button type="submit" class="btn btn-danger">CONFIRM</button>
                </form>
            </div>
        </div>
    </div>
</div>
