﻿@model UpdateCompanyCommand
@{
    ViewData["Title"] = "Update Company";
    Layout = "_DashboardLayout";
}

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-danger btn-sm" asp-action="Dashboard" asp-controller="SuperAdmin" asp-route-id="">BACK</a>
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Update Company</h4>
                <p class="card-category">Update the details of the company</p>
            </div>
            <div class="card-body">
                <form asp-action="UpdateCompany" asp-controller="SuperAdmin" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type"></label>
                        <input asp-for="Type" class="form-control" required>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactNo"></label>
                        <input asp-for="ContactNo" class="form-control" required>
                        <span asp-validation-for="ContactNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StreetAddress"></label>
                        <textarea asp-for="StreetAddress" class="form-control" required></textarea>
                        <span asp-validation-for="StreetAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City"></label>
                        <textarea asp-for="City" class="form-control" required></textarea>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PostalCode"></label>
                        <textarea asp-for="PostalCode" class="form-control" required></textarea>
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StateId"></label>
                        <select class="form-control" data-style="btn btn-link" asp-for="StateId" asp-items="Model.StateList"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="CompanyRegNo"></label>
                        <input asp-for="CompanyRegNo" class="form-control" required>
                        <span asp-validation-for="CompanyRegNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="E_Number"></label>
                        <input asp-for="E_Number" class="form-control" required>
                        <span asp-validation-for="E_Number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="C_Number"></label>
                        <input asp-for="C_Number" class="form-control" required>
                        <span asp-validation-for="C_Number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EPF_No"></label>
                        <input asp-for="EPF_No" class="form-control" required>
                        <span asp-validation-for="EPF_No" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SOCSO_No"></label>
                        <input asp-for="SOCSO_No" class="form-control" required>
                        <span asp-validation-for="SOCSO_No" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndOfMonthPayrollDay"></label>
                        <input asp-for="EndOfMonthPayrollDay" class="form-control" required>
                        <span asp-validation-for="EndOfMonthPayrollDay" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-danger">Submit</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>