﻿@model SetPasswordViewModel
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Verify Email";
    Layout = "_LandingLayout";
}

@await Html.PartialAsync("_PartialNavbar")
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login mt-5">
                <form class="form" asp-action="@ViewData["action"]" asp-controller="Home" method="post">
                    <input name="userId" value="@ViewData["userId"]" type="hidden" />
                    <input name="code" value="@ViewData["code"]" type="hidden" />
                    <div class="card-header card-header-success text-center">
                        <h4 class="card-title">Welcome</h4>
                        <p class="text-center">To V3X Payroll System - EchoPay</p>
                    </div>
                    <div class="card-body my-auto">
                        <div class="input-group my-3">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="material-icons">lock_outline</i>
                                    <label asp-for="NewPassword"></label>
                                </span>
                            </div>
                            <input asp-for="NewPassword" class="form-control mx-2" placeholder="New Password..." required>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="material-icons">lock_outline</i>
                                    <label asp-for="ConfirmPassword"></label>
                                </span>
                            </div>
                            <input asp-for="ConfirmPassword" class="form-control mx-2" placeholder="Confirm Password..." required>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="text-center py-auto my-auto mx-auto">
                            <button type="submit" class="btn btn-success btn-lg">Confirm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>