﻿select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

select.form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 1rem + 2px);
      padding: 0.5rem 1.1rem;
      font-size: 1.063rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.25rem;
      -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

select.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

select.form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057;
}

select.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #b9d0f8;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(69, 130, 236, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(69, 130, 236, 0.25);
}

select.form-control::-webkit-input-placeholder {
    color: #868e96;
    opacity: 1;
}

select.form-control::-ms-input-placeholder {
    color: #868e96;
    opacity: 1;
}

select.form-control::placeholder {
    color: #868e96;
    opacity: 1;
}

select.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff;
}

li .active {
    background-color: red !important;
}