﻿<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Payslip" ? "active" : "")">
            <a class="nav-link" asp-area="" asp-action="Payslip">
                <i class="material-icons">description</i>
                <p>Payslip</p>
            </a>
        </li>
        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Report" ? "active" : "")">
            <a class="nav-link" asp-area="" asp-action="Report">
                <i class="material-icons">toc</i>
                <p>Report</p>
            </a>
        </li>
        @if (User.Claims.Where(x => x.Type == ClaimTypes.Role).FirstOrDefault().Value == "ADMIN")
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="Index">
                    <i class="material-icons">cached</i>
                    <p>Switch to Admin Page</p>
                </a>
            </li>
        }
    </ul>
</div>