﻿@model ReportSingleStaffViewModel
@{
    ViewData["Title"] = "Report";
    Layout = "_DashboardLayout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Summary Report</h4>
                    <p class="card-category">Summary of all payslips</p>
                </div>
                <div class="card-body">
                    @if (Model.PayslipViewModels != null)
                    {
                        <div class="table-responsive">
                            <table class="table">
                                <tr class=" text-primary">
                                    <th>Date</th>
                                    <th>Basic Salary</th>
                                    <th>Net Salary</th>
                                    <th>Variable Pay</th>
                                    <th>Variable Deduction</th>
                                    <th>EPF Contributed</th>
                                    <th>SOCSO Contributed</th>
                                </tr>
                                <tbody>
                                    @foreach (var payslip in Model.PayslipViewModels)
                                    {
                                        <tr>
                                            <td>@payslip.Date.ToString("yyyy-MM-dd")</td>
                                            <td>@payslip.BaseSalary.ToString("0.00")</td>
                                            <td>@payslip.NetSalary.ToString("0.00")</td>
                                            <td>@payslip.VariablePay.ToString("0.00")</td>
                                            <td>@payslip.VariableDeduction.ToString("0.00")</td>
                                            <td>@payslip.OutEPF_EmployeeAmount.ToString("0.00")</td>
                                            <td>@payslip.OutSOCSO_EmployeeAmount.ToString("0.00")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    }
                    @if (Model.PayslipViewModels == null)
                    {
                        <div class="container-fluid mt-2">
                            <h4 class="card-title">No payroll record found</h4>
                            <p class="card-category">
                                Report will be shown after first payroll submitted for this staff
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>